.CategoriasEnBD {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    position: relative;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    padding-top: 1rem; 
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.fila {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

h6 {
    color: #5a5c69;
    font-weight: 700;
    margin: 0;
    font-size: 1rem;
}